*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-inline-size: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: currentColor;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

:not([class]) {
  h1&,
  h2&,
  h3&,
  h4&,
  h5&,
  h6& {
    margin-block: 0.75em;
    line-height: 1.25;
    text-wrap: balance;
    letter-spacing: -0.05ch;
  }

  p&,
  ol&,
  ul& {
    margin-block: 1em;
  }

  ol&,
  ul& {
    padding-inline-start: 1.5em;
    list-style: revert;
  }

  li& {
    margin-block: 0.5em;
  }
}

.construccion {
  display: grid;
  place-content: center;
  flex-grow: 1;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: calc(100vh - 190px - 64px);
  flex-grow: 1;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

/******/
body {
  background-color: black;
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;
}

.logo-federacion {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header > a img {
  height: 80px;
  margin-right: 20px;
}

.caseta {
  display: flex;
  align-items: center;
  gap: 1rem;
  img {
    width: 150px;
    height: auto;
  }
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  white-space: nowrap;
}

.expo-info {
  font-size: 1.2rem;
  font-style: italic;
  color: #aaa;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 90vw;
  margin: 0 auto;
}

.folder-container {
  text-align: center;
  color: white;
}

.folder-container-peque img {
  max-width: 80px;
  height: auto;
}

.folder-image {
  width: 150px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.folder-text {
  margin-top: 5px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #f3f4f6;
}

.folder-text-peque {
  margin-top: 5px;
  text-align: center;
  font-size: 10px;
}

a {
  text-decoration: none;
  /* Elimina el subrayado */
  color: inherit;
  /* Mantiene el color original del texto */
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 0.25rem;
  width: 100%;
}

footer p {
  margin: 0;
}

#videoPlayer {
  display: none;
  margin: 1rem auto;
  max-height: 100vh;
  width: 100%;
  aspect-ratio: 16/9;
}

/* Estilo para los pasadores de fotos */
/* ---------------------------------------------------------------- */
.slideshow-container {
  text-align: center;
  position: relative;
  max-width: 1000px;
  max-height: auto;
  margin: auto;
}

.slideshow-container-gen {
  text-align: center;
  position: relative;
  max-width: 1400px;
  max-height: auto;
  margin: auto;
}

/* Estilo para cada slide */
.mySlides {
  display: none;
}

/* Botones anterior y siguiente */
.next,
.prev {
  cursor: pointer;
  position: absolute;
  top: 80%;
  width: auto;
  padding: 50px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  transition: 0.3s;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Posicionamiento de los botones */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.next {
  right: 0;
  border-radius: 0 3px 3px 0;
}

/* Efecto de hover para los botones */
.next:hover,
.prev:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Estilos para los puntos de navegación */
/* ---------------------------------------------------------------- */
.dot-container {
  text-align: center;
  position: relative;
  max-width: 1000px;
  max-height: auto;
  margin: auto;
  padding: 10px;
  background: #ddd;
  border-radius: 8px;
}

.dot-container-gen {
  text-align: center;
  position: relative;
  max-width: 1400px;
  max-height: auto;
  margin: auto;
  padding: 10px;
  background: #ddd;
  border-radius: 8px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s;
}

.active,
.dot:hover {
  background-color: #717171;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.gallery img {
  width: 150px;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.gallery img:hover {
  transform: scale(1.1);
  border-color: #333;
}
